<!-- use grid to align the title on the center -->
<div class="row">
	<h2 class="center-align" >COURSES LISTING</h2>
</div>

<!-- add cards and have the list inside the cards -->

<div class="row">
  <% @courses.each do |c| %>
    <div class="col s6 m6">
      <div class="card green darken-3">
        <div class="card-content white-text">
          <span class="card-title activator"><%= c.short_name %>: <%= c.name %><i class="material-icons right">more_vert</i></span>
          <p>This is a sample course <%= c.id %></p>
        </div>
        <div class="card-reveal">
      		<span class="card-title grey-text text-darken-4"><%= c.short_name %>: <%= c.name %><i class="material-icons right">close</i></span>
     		<p><%= c.description %></p>
    	</div>
        <div class="card-action">
          <a href="#">Info</a>
          <a href="#">Enroll</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

