<!DOCTYPE html>
<html>
  <head>
    <title>Tech University</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="lime lighten-4">
    <header>
      <%= render 'layouts/navigation' %>
        <% flash.each do |key, msg| %>
          <div class="container">
            <div class="row above">
              <div class="col s12 m12 l12">
                <div class="card-panel lime accent-4" id="fade-out-flash">
                  <span class="white-text">  
                    <%= msg %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </header>

    <main>
      <div class="container">
      <%= yield %>
      </div>
    </main>

    <footer class="page-footer">
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>
